.xsu-text {
  color: #052525;
  font-family: 'Dancing Script', cursive;
  font-size: 4vmin;

  opacity: 0.7;

  order: 1;

  transform: translateY(3vmin) rotateZ(-30deg);

  span {
    display: block;
    transform: translateX(4vmin);
  }

  div {
    height: 4vmin;
    transform: translateX(8vmin);

    color: red;
  }
}

@media only screen and (orientation: portrait) {
  .xsu-text {
    position: relative;

    font-size: 4vmax;

    z-index: 0;
  }
}
